@mixin text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: red;
}
@mixin display{
    display: flex;
    flex-direction: row;
}
@mixin Btn {
    background-color: burlywood;
    height: 70px;
    font-size:30px;
    border-radius: 10px;
    padding:20px;
}
@mixin hoverBtn{
background-color: palevioletred;
box-shadow: 0 0 8px 5px grey;
}
@mixin borderA($color, $width){
border: $width solid $color;
}
#userBtn{
    @include Btn;
}

#userInput {
    width: 500px;
   @include text;
   color: aquamarine;

}
form{
    @include display;
}
#uitkomst{
    @include Btn;
    font-weight: bold;
    background-color: blue;
}


.een{
    @include borderA(grey, 5px );

}
.een p{
animation-name: T;
animation-duration: 10s;
animation-iteration-count: infinite;
}
@keyframes T{

    50% {color: darkblue}
 
}

p{
    @include text;
}
.twee{
    @extend .een;
      background-color:red;
    border: 15px dashed black;

}

main{ 
@include display;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
section{
   @include display
}
*{
      background-color: green;
    margin:10px;
    padding:0;
 
}


hr{
    width: 100%;
    height: 3px;
    background-color: blueviolet;
}
.modal{
visibility: hidden;
    border: 3px solid grey;
    width: 2000px;
    height: 600px;
    @include display;
 
    z-index: 1;
    position: absolute;
    top: 200px;
    left:400px;
}
.move{
position: absolute;


    border: 2px dashed chartreuse;
}
.cirkel{
    width: 80px;
    height: 80px;
    background-color: chartreuse;
    border-radius: 50%;
    transition: transform 5s;
    transition-delay: 4.3s;
    z-index: 1;
    position:relative;
    left:700px;
   
}
.vierkant{
    
    width: 100px;
    height: 120px;
    background-color: coral;
    transition: transform 9s;
    z-index: -1;
}
.reken{
    @include display;
    font-size: 35px;
    width: 1500px;
    margin: 100px;
}
.reken input{
    height: 70px;
    width: 700px;
    font-size: 30px;
    background-color: transparent;
    letter-spacing: 5px;
}

.countContent{
    width: 50%;
}
.countHeader{
    @include display;
    justify-content: space-between;
    @include text;
    color: blue;
}
.countBody{
@extend .countHeader;
justify-content: space-evenly;
font-size: 50px;
}
.countBody input{
    font-size: 45px;
}
@keyframes CorMoT{
    0%{
        right:900px;
    }
    100%{
        left: 10px;
    }
}
#correct{
width: fit-content;
height: fit-content;
z-index: 1;
animation-name: CorMoT;
animation-duration: 2s;
animation-timing-function: cubic-bezier(0.311, 0.441, 0.444, 1.649)
}
.lijst{
    background-color: cadetblue;
    width: 1500px;
    border: 3px double blue;
}
table, th, td {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:green ;
}

thead{
height: 50px;
padding: 15px;
}
thead td{
 @include text;
 align-items: center;
}
tbody{
    font-size: 35px;
    color: cadetblue;
}

tbody > tr > td:nth-child(2){
    width: 60%;
}
